@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    overflow: hidden;
    width: 310px;
    padding: 20px;
    margin-bottom: 10px;
}

.card-header {
    height: 270px;
    position: relative;
}

.card-header:hover {
    cursor: pointer;
}

.card-header img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.hover-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(178, 100%, 50%);
    transition: 0.5s ease;
    opacity: 0;
    border-radius: 10px;
}

.card-header:hover .hover-view {
    opacity: 0.5;
}

.eye-image {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-header:hover .eye-image{
    opacity: 1;
}

.card-title {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 18px;
}

.card-title a:link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.card-text {
    color: hsl(215, 51%, 70%);
    padding-bottom: 10px;
    font-size: 17px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 2px hsl(215, 32%, 27%);
}

.ethereum, .clock {
    display: flex;
    align-items: center;
}

.card-footer img{
    padding-right: 5px;
    height: 15px;
}

.ethereum small {
    color: hsl(178, 100%, 50%);
}

.clock small {
    color: hsl(215, 51%, 70%);
}

.author {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 15px;
}

.author img {
    overflow: hidden;
    width: 30px;
    margin-right: 15px;   
    border-radius: 50%; 
    border: 1px solid hsl(0, 0%, 100%);
}

.author-credentials {
    color: hsl(215, 51%, 70%);
    align-self: flex-start;
}

.author-credentials span {
    color: hsl(0, 0%, 100%);
}

.author-credentials a:link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

small{
    font-size: 14px;
}

.card-title a:hover, .author-credentials span a:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution { 
    color: hsl(215, 51%, 70%);
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}